/* ---------------------------------------- */
/*------------------ COLORS ---------------*/
/* ---------------------------------------- */
.text-ungu1:hover {
  color: #b602b6;
  cursor: pointer;
}

.text-green1 {
  color: #b3f164;
}

.text-green1:hover {
  color: #8fc24f;
}

.text-green2 {
  color: #b3f164;
}

.text-turquoise {
  -webkit-text-stroke: 0.3px black;
  /* text-shadow: 1px 1px 0 #000; */
  color: turquoise;
}

.text-blue {
  color: DarkSlateBlue;
}

.text-khaki {
  color: khaki;
}

.footer-text {
  background-image: linear-gradient(to right, lime, yellow, yellow);
  color: transparent;
  background-clip: text;
}

.bg-kuning {
  background-color: #ffd94a;
}

.bg-kuning2 {
  background-color: #e8c747;
}

.btn-orange1 {
  background-color: #feaa60;
  border: 0;
  border-radius: 0 5px 5px 0;
  height: 30px;
}

.btn-orange2 {
  background-color: #feaa60;
}

.bg-sky {
  background-color: #75dafd;
}

.bg-green1 {
  background-color: #bbfd75;
}

.bg-green2 {
  background-color: #99d756;
}

.bg-orangreen {
  background-image: linear-gradient(to bottom right, #feaa60, #99d756);
}

.bg-navy {
  background-color: #001f3f;
}

.bg-blue1 {
  background: rgba(131, 170, 205, 0.5);
}

.bg-blue2 {
  background-color: #5ccbb6;
}

.bg-green3 {
  background-color: #5ccb83;
}

.bg-wat {
  background-color: khaki;
}

.bg-wheat {
  background-color: wheat;
}

.invert { filter: invert(100%); }

/* ----------------------------------------------- */
/*----------------- UTILITIES ---------------------*/
/* ----------------------------------------------- */
.searchbox {
  width: 450px;
  margin-left: 80px;
  border-radius: 5px 0 0 5px;
  height: 30px;
}

.separator {
  border-left: 1px solid;
}

.kanan {
  margin-left: 100px;
}

.no-border {
  border: 0;
}

.no-border2 {
  border: 0;
  background-color: inherit;
}

.nama-barang {
  font-size: 24px;
  vertical-align: bottom;
}

input[type='number'] {
  width: 10%;
  text-align: center;
}

.tr-line {
  border-bottom: 1px solid #aaa;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.sticky {
  top: 50px;
  position: sticky;
}

@font-face {
  font-family: inconsolata;
  src: url(font/Inconsolata-Regular.ttf);
}

.inconsolata {
  font-family: inconsolata;
}

.alamat {
  font-family: Arial;
  border: 0;
  background-color: inherit;
  color: lime;
  text-align: right;
  cursor: default;
}

.subhargaBarang {
  width: 75%;
  background-color: inherit;
  border: 0;
  color: white;
}
.subhargaBarang2 {
  width: 50%;
  background-color: inherit;
  border: 0;
  color: white;
  text-align: right;
}

.caraBayar:hover {
  border-radius: 5px;
  background-color: rgba(191,255,79, 0.4);
  cursor: pointer;
}

.keranjangchat {
  padding: 0 5px 0 5px;
  position: relative;
}

.keranjangchat .notifikasi {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.smaller {
  font-size: 11px;
}

.atas {
  vertical-align: top;
}

.overlay {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
}

.alerting {
  z-index: 2;
  position: fixed;
  top: 40%;
  left: 40%;
}

.alerting.fade {
  transition: ease-out .7s;
}

.segitiga-bawah {
  width: 0;
  height: 0;
  top: 20px;
  position: relative;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.setengah {
  overflow: hidden;
  max-height: 70px;
  transition: max-height .7s ease;
}
.setengah.show {
  max-height: 130px;
  transition: max-height .7s ease;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  color: black;
  padding: 20px;
  width: 100%;
  border: 0px;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current "tab button" class */
.tab button.active {
  background-color: lightgreen;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 10px 12px;
  width: 500px;
  height: 400px;
  border: 1px solid;
}
.chat-atas {
  display: inline-block;
}
.chat-bawah {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  text-align: right;
  border-radius:5px;
}
.chat-bawah2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 30px;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
  border-radius:5px;
  border:1px solid #566963;
  color: snow;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
}
.chat-bawah2:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.bisa-scroll {
  padding-top: 15px;
  max-height: 360px;
  width: 480px;
  overflow-y: scroll;
}
.dari-bawah {
  height: 360px;
  display: table-cell;
  vertical-align: bottom;
}

.vtuber {
  width: 350px;
  clip-path: circle(140px at 170px 180px);
}
.kejutan {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  animation: slideDown 1s 1;
}
@keyframes slideDown{
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 350px;
    opacity: 1;
  }
}
.kejutan.fade {
  transition: ease-out .4s;
}

/* ------------------------------------------------ */
/*------------------ CAROUSEL ----------------------*/
/* ------------------------------------------------ */
.carousel-inner img {
  margin: 0px 0px 0px 46px;
  width: 90%;
}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}
