/* COLORS */
.text-ungu1:hover {
  color: #b602b6;
}

.text-green1 {
  color: #b3f164;
}

.text-green1:hover {
  color: #8fc24f;
}

.text-green2 {
  color: #b3f164;
}

.text-turquoise {
  -webkit-text-stroke: 0.3px black;
  /* text-shadow: 1px 1px 0 #000; */
  color: turquoise;
}

.bg-kuning {
  background-color: #ffd94a;
}

.bg-kuning2 {
  background-color: #e8c747;
}

.btn-orange1 {
  background-color: #feaa60;
  border: 0;
  border-radius: 0 5px 5px 0;
  height: 30px;
}

.btn-orange2 {
  background-color: #feaa60;
}

.bg-sky {
  background-color: #75dafd;
}

.bg-green1 {
  background-color: #bbfd75;
}

.bg-green2 {
  background-color: #99d756;
}

.bg-orangreen {
  background-image: linear-gradient(to bottom right, #feaa60, #99d756);
}

.bg-navy {
  background-color: #001f3f;
}

.bg-blue1 {
  background: rgba(131, 170, 205, 0.5);
}

.invert { filter: invert(100%); }

.footer-text {
  background-image: linear-gradient(to right, lime, yellow, yellow);
  color: transparent;
  background-clip: text;
}

/* UTILITIES */
.searchbox {
  width: 450px;
  margin-left: 80px;
  border-radius: 5px 0 0 5px;
  height: 30px;
}

.separator {
  border-left: 1px solid;
}

.kanan {
  margin-left: 100px;
}

.no-border {
  border: 0;
}

.nama-barang {
  font-size: 24px;
  vertical-align: bottom;
}

input[type='number'] {
  width: 10%;
  text-align: center;
}

.tr-line {
  border-bottom: 1px solid #aaa;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
    clear: both;
    position: relative;
    margin-top: 150px;
}

.sticky {
  top: 50px;
  position: sticky;
}

@font-face {
  font-family: inconsolata;
  src: url(font/Inconsolata-Regular.ttf);
}

.inconsolata {
  font-family: inconsolata;
}

.alamat {
  font-family: Arial;
  border: 0;
  background-color: inherit;
  color: lime;
  text-align: right;
  cursor: default;
}

.subhargaBarang {
  width: 75%;
  background-color: inherit;
  border: 0;
  color: white;
}
.subhargaBarang2 {
  width: 50%;
  background-color: inherit;
  border: 0;
  color: white;
  text-align: right;
}

.caraBayar:hover {
  border-radius: 5px;
  background-color: rgba(191,255,79, 0.4);
}

/* CAROUSEL */
.carousel-inner img {
  margin: 0px 0px 0px 46px;
  width: 90%;
}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}
